hookwing_project/Library
hookwing_project/UserSettings
hookwing_project/Temp
hookwing_project/Logs
settings.json
hookwing_project/Logs/AssetImportWorker0.log
hookwing_project/Logs/shadercompiler-AssetImportWorker0.log
